.homesection {
    background-image: url('wavebg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: animatedflow 60s linear;
    /* NEW UX UPDATE ! */
}

.mypic-wrapper {
    position: relative;
    padding-top: 1rem;
    padding-left: 2rem;
    overflow: hidden;
}

#mypic {
    width: 100%;
    height: auto;
    border-radius: 50%;
    padding: 2.5rem;
    animation: floatimg 9s linear infinite;
    /* 2.5 padd at large screen */
    /* img should be square sized */
}

.aboutme {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.aboutme-emoji {
    font-size: 1.7rem;
    padding: 6px 8px;
}

.animatedHello {
    animation: animatedhello 1.6s linear infinite;
}

.hello-msg {
    font-weight: 500;
}

#myname {
    display: inline;
    padding: 0 8px;
    color: #305293;
    font-weight: 700;
}

.developer-designer-container {
    display: inline-block;
    color: #4c465e;
}

.typewriter-effect {
    overflow: hidden;
    width: 0;
    border-right: .09em solid orange;
    white-space: nowrap;
    animation: typing 2.2s steps(22, end) forwards, blink 0.8s infinite;
    color: #6b6875;
}

.my-description {
    padding: 2rem 0;
    line-height: 1.4;
    color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
}


@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink {
    from { border-color: transparent }
    to { border-color: orange; }
}

@keyframes animatedhello {
    0% { transform: rotate(10deg); }
    100% { transform: rotate(-10deg); }
}

@keyframes floatimg {
    0% { border-radius: 50%; }
    33% { border-radius: 42% 47% 36% 57%; }
    66% { border-radius: 36% 57% 42% 47%; }
    100% { border-radius: 50%; }
}

@keyframes animatedflow {
    0% { background-position: left center; }
    50% { background-position: right center; }
}


/* SMARTPHONE SCREEN */

@media screen and (max-width: 762px) {
    .my-description { font-size: 1.4rem; font-weight: 400; }
    #mypic {
        padding: 0;
        border-radius: 50%;
        box-shadow: 0px 0px 5px 2px black;
        /* img should be square sized */
    }
}
