.projectCard {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 12px;
    margin: 14px auto;
    border-radius: 5px;   
    background-image: url('brushBlue.png');
    /* background-position: center center; */
    background-size: cover;
    /* background-color: rgb(37, 37, 46); */

}

.project-thumbnail {
    width: 33px;
    height: auto;
    border-radius: 6px;
    border: 2px solid blue;
    background-color: darkblue;
}

.project-info-wrapper {
    display: inline-block;
    padding: 6px 0;
    width: 100%;
}

.project-title {
    color: #fff;
    margin: 8px 0;
    font-size: 1.3rem;
    font-weight: 400;
}

.project-description {
    padding: 0 4px;
    font-size: 0.86rem;
    color: rgb(146, 164, 182);
}

@media screen and (max-width: 762px) {
    .projectCard {
        padding: 6px 5px;
        margin: 8px auto;
    }   
}