.recentworks-section {
    display: inline-block;
    width: 75%;
    margin: 0 auto;
}

.works-wrapper {
    margin: 8px 0;
    padding: 10px 6px;
    /* background-color: rgb(60, 68, 75); */
}

@media screen and (max-width: 762px) {
    .recentworks-section {
        width: 100%;
    }
}