.titlebar-wrapper {
    padding: 0 6px;
    height: 100%;
    border-left: 2.6px solid cyan;
    border-radius: 3px;
}

.titlebar-title {
    background-color: rgb(36, 35, 35);
    margin: 0;
    padding: 4px 0 4px 6px;
    text-align: left;
}

@media screen and (max-width: 762px) {
    .titlebar-wrapper {
        width: 75%;
        margin: auto;
    }
}